<%= javascript_include_tag 'setting.js' %>
<div class="container">
<div class="row" style="margin-top:20px">
    <div class="col s4 offset-s4">
        <%= image_tag(@user.image_url.sub(/_normal/, ''), {:class => "circle responsive-img"}) %>
    </div>
</div>
<%= form_with model: @user, class: "center" do |f| %>
    <div class="input-field">
        <%= f.text_area :profile, class: "materialize-textarea", maxlength: 100, data: {length: 100}%>
        <%= f.label :profile %>
    </div>
    <div class="input-field">
        <%= f.text_area :template, class: "materialize-textarea", maxlength: 100, data: {length: 100}%>
        <%= f.label :template %>
    </div>
    <div class="row">
        <div class="col s12">
        <%= f.submit "更新", :class=>"waves-effect med-color btn white-text", :id=>"reload-btn" %>
        </div>
    </div>
<% end %>
</div>