<%= javascript_include_tag 'records.js' %>

<% content_for :title do %>
    みんなのレコード | Makasha
<% end %>

<div class="container">
<% if not logged_in? %>
<div class="col s12 center">
    Makashaで名曲を記録しませんか？
    <%= link_to '/auth/twitter',
        class: "waves-effect waves-light btn twitter-color",
        style: 'text-transform: none !important;' do%>
        <i class="fab fa-twitter fa-fw" ></i> Twitterで登録/ログイン
    <% end %>
</div>
<% end %>
<ul id="records-collection" class="collection">
<% @posts.each do |post| %>
    <li class="collection-item avatar">
        <% user = user_from_post(post) %>
        <%= link_to image_tag(user.image_url.sub(/_normal/, ''), {:class => "circle responsive-img", :onerror => "onImageError(this)"}) ,"/users/#{user.twitterid}" %>
        <%= link_to user.name, "/users/#{user.twitterid}" %><br>
        <b><%= post.song %></b> - <%= post.artist -%><br>
        
        <span class="grey-text"><%= post.created_at.to_s(:posted_at) %></span>
        <span class="main-color-text">
            <% if post.count.to_i != 1 and post.period_before.to_i != 0%>
                <% if post.period_before.to_i > 24 %>
                    <%= post.period_before.to_i / 24 %>日ぶり
                <% elsif post.period_before.to_i > 24 * 365 %>
                    <%= post.period_before.to_i / (24 * 365) %>年ぶり 
                <% end %>
            <% end %>
            <%= post.count.to_s %>回目
        </span>
    </li>
<% end %>
</ul>
<% if @all_count <= 10 %>
    <div id="next-btn-wrapper" class="row">
        <button class="btn disabled waves-effect waves-light main-color col s12">
                ここが最初のレコードです。
        </button>
    </div>
<% else %>
    <div id="next-btn-wrapper" class="row">
        <button class="btn waves-effect waves-light main-color col s12">
            <%= link_to "続きを表示", records_next_path(start: 10), remote: true, class: "white-text" %>
        </button>
    </div>
<% end %>
</div>