var modal = document.getElementById('modal_delete_record');
var inner = `
    <h5>記録を編集する</h5>
    <%= form_with model: @post, url: "record/edit/#{@post.id}", local: true do |form| %>
        <i class="material-icons" style="font-size:1rem;">music_note</i><%= form.label :song %>
        <%= form.text_field :song, onkeyup: 'checkInputs("edit-btn")', id: "edit-btn-song" %>
        <br>
        <i class="material-icons" style="font-size:1rem;">person</i><%= form.label :artist %>
        <%= form.text_field :artist, onkeyup: 'checkInputs("edit-btn")', id: "edit-btn-artist" %>
        <br>
        <div class="modal-footer">
            <%= form.submit "削除", :class=>"left waves-effect base-low-color btn ", name: "delete"%>
            <%= form.submit "編集", :class=>"waves-effect med-color btn edit-btn"%>
        </div>
    <% end %>
`
modal.textContent = null;
var div = document.createElement('div');
div.className = "modal-content";
div.innerHTML = inner;
modal.appendChild(div);


var instance = M.Modal.getInstance(modal);
instance.open();