<% if logged_in? %>
<% flash.each do |key, value| %>
    <% key %><% value %>
<% end %>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light base-low-color" onclick="onClickAdd()">
        <i class="material-icons base-high-color-text">add</i>
    </a>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
    <h5>名曲を追加する</h5>
    <%= form_with model: Post.new, local: true do |form| %>
        <i class="material-icons" style="font-size:1rem;">music_note</i><%= form.label :song %>
        <%= form.text_field :song, onkeyup: 'checkInputs("add-btn")', id: "add-btn-song" %>
        <br>
        <i class="material-icons" style="font-size:1rem;">person</i><%= form.label :artist %>
        <%= form.text_field :artist, onkeyup: 'checkInputs("add-btn")', id: "add-btn-artist" %>
        <br>
        <label>
            <%= form.check_box 'twitter', :id=>"check" %>
            <span>Twitterへ投稿</span>
        </label>
        <div class="modal-footer">
            <%= form.submit "追加", :class=>"waves-effect med-color btn disabled add-btn white-text" %>
        </div>
    <% end %>
    </div>
</div>
<div id="modal_delete_record" class="modal">
    <div class="modal-content">
    <h5>記録を削除する</h5>
    </div>
</div>
<div class="container">
    <% if flash[:notice] %>
    <div class="notice">
        <%= flash[:notice]%>
    </div>
    <% end %>
    <div class="card">
        <div class="card-content">
            <div class="row">
            <div class="col s4 l2">
                <%= image_tag(@user.image_url.sub(/_normal/, ''), {:class => "circle responsive-img"}) %>
            </div>
            <div class="col s8 l10">
                <span class="card-title"><%= @user.name %></span>
                <%= @user.profile %>
            </div>
            </div>
        </div>
    </div>
    <ul class="tabs tabs-fixed-width" id="tabs1">
        <li class="tab" id="list-tab" onclick="onClickTab(this)">
            <a href="#list" class="main-color-text">
                <i class="material-icons" style="vertical-align:middle;">list</i>
                <span style="vertical-align:middle;">Record</span>
            </a>
        </li>
        <li class="tab" id="stat-tab" onclick="onClickTab(this)">
            <a href="#stat" class="main-color-text">
                <i class="material-icons" style="vertical-align:middle;">pie_chart_outlined</i>
                <span style="vertical-align:middle;">Chart</span>
            </a>
        </li>
    </ul>
    <div id="list">
        <ul class="collection">
        <% @posts.each do |post| %>
        <li class="collection-item">
            <div>
                <%= link_to record_edit_path(post: post.id), remote: true, class: "secondary-content" do %>
                    <i class="material-icons grey-text text-lighten-1" style="font-size:1.2rem">edit</i>
                <% end %>
                <b><%= post.song %></b> - <%= post.artist -%><br>
                <span class="grey-text"><%= post.created_at.to_s(:posted_at) %></span>
                <span class="main-color-text">
                    <% if post.count.to_i != 1 and post.period_before.to_i != 0%>
                        <% if post.period_before.to_i > 24 %>
                            <%= post.period_before.to_i / 24 %>日ぶり
                        <% elsif post.period_before.to_i > 24 * 365 %>
                            <%= post.period_before.to_i / (24 * 365) %>年ぶり 
                        <% end %>
                    <% end %>
                    <%= post.count.to_s %>回目
                </span>
            </div>
        </li>
        <% end %>
        </ul>
        <ul class="pagination center-align">
            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            <% if @count > 4 %> <!-- ページが多い場合 -->
                <li class="pg_btn active" id="pg-btn-1">
                    <%= link_to "1", record_move_path(index: 0), remote: true %>
                </li>
                <li><i class="material-icons">more_horiz</i></li>
                <li class="pg-btn" id="pg-btn-<% @count.to_s %>">
                    <%= link_to @count.to_s, record_move_path(index: @count.to_i - 1), remote: true %>
                </li>
            <% else %> <!-- ページが少ない場合 -->
                <% (1..@count).each do |i| %>
                <% if i == 1 %>
                    <li class="pg-btn active" id="pg-btn-<%= i.to_s %>">
                <% else %>
                    <li class="pg-btn waves-effect" id="pg-btn-<%= i.to_s %>">
                <% end %>
                <%= link_to i, record_move_path(index: i - 1), remote: true %>
                </li>
                <% end %>
            <% end %>
            <% if @count <= 1 %>
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            <% else %>
            <li class="waves-effect">
                <%= link_to record_move_path(index: 1), remote: true do %>
                    <i class="material-icons">chevron_right</i>
                <% end %>
            <% end %>
            </li>
        </ul>
    </div>
    <div id="stat">
    <ul id="stat-collection" class="collection">
        <li class="collection-item">
            <h6 class="center">お気に入りアーティスト</h6>
            <canvas id="artistsCount"></canvas>
        </li>
        <li class="collection-item">
            <h6 class="center">お気に入り楽曲</h6>
            <table class="striped centered">
                <tbody>
                <% @rank.each_with_index do |data, i| %>
                    <tr>
                        <td><b><%= data[0][1] %></b></td>
                        <td><%= data[0][0] %></td>
                        <td><%= data[1] %>回</td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </li>
    </ul>
    </div>
</div>
<% else %>
    <%= link_to 'Twitter Login', '/auth/twitter' %>
<% end %>