<%= javascript_include_tag 'setting.js' %>
<div class="container">
<div class="row" style="margin-top:20px">
    <div class="col s4 offset-s4">
        <%= image_tag(@user.image_url.sub(/_normal/, ''), {:id => "icon", :class => "circle responsive-img", :onerror => "onImageError(this)"}) %>
    </div>
    <div id="refresh-col" style="display: none;" class="col s12 center">
        <%= link_to "アイコンの再取得",
            refresh_icon_path(authenticity_token: form_authenticity_token),
            method: :post,
            class: "waves-effect med-color btn white-text",
            id: "refresh_btn" %>
    </div>
</div>
<%= form_with model: @user, class: "center" do |f| %>
    <label>
        <%= f.check_box :indicate_twitter %>
        <span><%= f.label :indicate_twitter %></span>
    </label>
    <div class="input-field">
        <%= f.text_field :name, maxlength: 20, data: {length: 20} %>
        <%= f.label :name%>
    </div>
    <div class="input-field">
        <%= f.text_area :profile, class: "materialize-textarea", maxlength: 100, data: {length: 100}%>
        <%= f.label :profile %>
    </div>
    <div class="input-field tooltipped" data-tooltip="以下の%に囲まれた文字列は自動的に置換されます：<br>%song%: 楽曲名<br>%artist%: アーティスト名">
        <%= f.text_area :template, class: "materialize-textarea", maxlength: 100, data: {length: 100}%>
        <%= f.label :template %>
    </div>
    <div class="row">
        <div class="col s12">
        <%= f.button "更新", type: "button", :class=>"waves-effect med-color btn white-text", :id=>"reload-btn",
            onclick: "M.Toast.dismissAll();
                M.toast({
                    html: '更新しました',
                    classes: 'base-low-color'
                });
                submit()" %>
        </div>
    </div>
<% end %>
<div class="row" id="delete-row">
    <div class="col s12 center">
        <a class="modal-trigger waves-effect btn-small white lighten-5 red-text" href="#delete-modal">アカウントを削除する</a>
    </div>
</div>
<div id="delete-modal" class="modal">
    <div class="modal-content">
        <h5>アカウントの削除</h5>
        この操作によって過去に記録した全データおよびアカウントの情報は削除され、復元することはできません。
        <br>
        上記に納得いただける場合、下の「削除」を押すことでアカウントを削除できます。
        <div class="modal-footer">
            <a class="left btn-flat waves-effect" onclick="modalCancel()">キャンセル</a>
            <%= link_to "削除",
                delete_path(authenticity_token: form_authenticity_token),
                method: :post,
                class: "right btn-flat waves-effect red-text" %>
        </div>
    </div>
</div>
</div>