<!DOCTYPE html>
<html>
  <head>
    <title>Masterpiece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
  <% if logged_in? %>
    <nav>
      <div class="nav-wrapper pink lighten-4">
        <a href="#" class="brand-logo center">MoMoM</a>
        <ul id="nav-mobile" class="right">
          <a class='dropdown-trigger btn grey darken-3' href='#' data-target='dropdown1'>
            <i class="material-icons">dehaze</i>
          </a>
        </ul>
      </div>
    </nav>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="/signout" class="grey-text text-darken-3">ログアウト</a></li>
    </ul>
  <% end %>
        
    <%= yield %>
  </body>
</html>
