<!DOCTYPE html>
<html>
  <head>
    <title>Masterpiece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
  </head>

  <body>
  <% if logged_in? %>
    <nav>
      <div class="nav-wrapper main-color">
        <a href="/" class="brand-logo center base-high-color-text">makasha</a>
        <ul class="left">
        <a class='sidenav-trigger' data-target='sidenav'>
            <i class="material-icons base-high-color-text">menu</i>
        </a>
        </ul>
        <ul class="right hide-on-med-and-down">
           <li><a href="/" class="white-text text-darken-3">
            <i class="material-icons left">home</i>ホーム</a></li>
          <li><a href="/setting" class="white-text text-darken-3">
            <i class="material-icons left">brightness_high</i>設定
          </a></li>
          <li><a href="/signout" class="white-text text-darken-3">
            <i class="material-icons left">exit_to_app</i>ログアウト
          </a></li>
        </ul>
      </div>
    </nav>
    <ul id='sidenav' class='sidenav left'>
      <div class="row med-color" style="padding:20px 0">
        <div class="col s4 offset-s4">
          <%= image_tag(@user.image_url.sub(/_normal/, ''), {:class => "circle responsive-img"}) %>
        </div>
      </div>
      <li><a href="/" class="grey-text text-darken-3">
        <i class="material-icons">home</i>ホーム
      </a></li>
      <li><a href="/setting" class="grey-text text-darken-3">
        <i class="material-icons">brightness_high</i>設定
      </a></li>
      <li><a href="/signout" class="grey-text text-darken-3">
        <i class="material-icons">exit_to_app</i>ログアウト
      </a></li>
    </ul>
  <% end %>
        
    <%= yield %>
  </body>
</html>
